<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.utilities.Reporting"/>	
	</listeners>
	
  <test name="Test">
    <parameter name="browser" value="chrome"/>
    <classes>
      <!--<class name="org.testcase.LoginPageTest2"/>  -->
      <class name="org.testcase.LoginPageTest1"/>
      <class name="org.testcase.AddCusPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
